<%= erb :'layouts/_header' %>

<h1>Edit Pigeon</h1>

<form action="/pigeons/<%= @pigeon.id %>/update" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= @pigeon.name %>">
  <label for="gender">Gender</label>
  <input type="text" id="gender" name="gender" value="<%= @pigeon.gender %>">
  <label for="color">Add Color</label>
  <input type="text" id="color" name="color" value="<%= @pigeon.color %>">
  <label for="lives">Lives</label>
  <input type="text" id="lives" name="lives" value="<%= @pigeon.lives %>">
  <input type="submit" value="update">
</form>

<a class="button" href="/pigeons">Cancel</a>

<%= erb :'layouts/_footer' %>