<%= erb :'layouts/_header' %>

  <h1>Pigeons</h1>
  <% Pigeon.all.each do |pigeon| %>
  <a href="/pigeons/<%= pigeon.id %>"><%= pigeon.id %>. <%= pigeon.name %><br></a>
  <% end %>
  <br>
  <a class="button" href="/pigeons/new">New Pigeon</a>

<%= erb :'layouts/_footer' %>
